fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
email-validator
PyMuPDF
pytesseract
Pillow
langchain 
langchain-google-genai
pydantic